@model PraLoup.WebApp.Models.MetroAreaModel
@{
    ViewBag.Title = "Index";
}
<h2>Select your City</h2>

<div class="Mtr_Areas">
@foreach (var m in Model.SupportedMetros)
{ 
    <div class="city">
        @Html.ActionLink(@m.City, "City", "ThingsToDo", new { city =  m.City }, null ) 
    </div>
}
</div>
