@{
    var listName = ViewData["ListName"] as string;
    var thingsToDo = ViewData["ThingsToDos"] as IEnumerable<PraLoup.DataAccess.Entities.Event>; 
}
<div class="ttd_lst">
    <div class="Ttd_lst_name">
        <h3>@listName</h3>
    </div>
    @{
        foreach (var e in thingsToDo)
        {
                 Html.Partial("ThingsToDoItem", new ViewDataDictionary() { {"Event", e} } );         
        }
    }
</div>
