<!--footer -->
<div id="footer">
    <div class="left">
        © 2011 poprly
    </div>
    <div class="right">
        @Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Home", "Index", "Home")
        | @Html.ActionLink("Contact", "Home", "Contact") | @Html.ActionLink("Privacy", "Home", "Privacy")</div>
</div>
<div class="clear">
</div>
</div>
<!--footer end-->
