@model PraLoup.DataAccess.Entities.Activity

@{
    ViewBag.Title = "Edit";
}

<div id="fb-root">
  <fb:serverfbml width="615">
    <script type="text/fbml">
      <fb:request-form action="http://projectsafari.com/PraLoup.WebApp/Activity/AddFacebookFriends/@Model.Id"
                     method="post"
                     invite="false"
                     type="More Like"

                     content="Content @Model.Event.Name <fb:req-choice url='http://projectsafari.com/PraLoup.WebApp/Activity/Details/@Model.Id' label='@Model.Event.Name' />">
        <fb:multi-friend-selector showborder="false"
                                bypass="cancel"
                                cols=2
                                import_external_friends="false"
                                actiontext="Click here to @Model.Event.Name"/>
      </fb:request-form>
    </script>
  </fb:serverfbml>
</div>