@inherits System.Web.Mvc.WebViewPage<PraLoup.WebApp.Models.AccountListJson>
@using System.Web;
@using System.Collections.Generic;

<div id="@Model.uniqueId">

</div>
<script type="text/javascript">
    var @Model.uniqueId =
        @Html.Raw(Model.ToString());
    
    RenderAccountList($("#@Model.uniqueId"), @Model.uniqueId);

</script>
    
