<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="LinqKit" version="1.0" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="NHibernate.Linq" version="1.0" />
  <package id="log4net" version="1.2.10" />
  <package id="MySql.Data" version="6.4.3" />
  <package id="FluentAssertions" version="1.5.0.0" />
</packages>