.facebookLogo {
    background-color: #4B67A1;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/z-/r/nQo8LrNCPfQ.png");
    background-repeat: no-repeat;
    outline: medium none;
    height: 31px;
    width:103px;
}

.ttd_lst
{
    width: 600px;    
}

.ttd_lst_name
{
        
}
    
.ttd_ovw
{
    clear:both;
}
    
div.ttd_img
{
    height:80px;
    width:80px;
    float:left;
    margin: 5px;    
}

div.ttd_info
{
    height:80px;
    width:500px;
    overflow:hidden;    
}


/*swfupload start*/
div.ProgressBar { width: 100px; padding: 0; border: 1px solid black; margin-right: 1em; height:.75em; margin-left:1em; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
div.ProgressBar DIV { background-color: Green; font-size: 1pt; height:100%; float:left; }
div.asyncUploader OBJECT { position: relative; top: 5px; left: 10px; }
/*swfupload end*/