@model PraLoup.WebApp.Models.HomeModel
@using PraLoup.WebApp.Resources

@{
    ViewBag.Title = "Home Page";
}


<h2>@ViewBag.Message</h2>
<p>
    <div id="left">
        Welcome to the Project Safari Home Page!
    </div>
    <div id="right">
        <p>
            <a href="@Model.redirecturl">@Strings.ClickHere</a> @Strings.ToSignInWith
            <div class="facebookLogo">
            </div>
        </p>
    </div>
</p>
