@model PraLoup.WebApp.Models.HomeModel
@using PraLoup.WebApp.Resources

@{
    ViewBag.Title = "Home Page";
}

 <div class="page">
   
         <div id="container">
           <div id="left">
           
         </div>
        <div id="right">
        foo bar
        </div>
        
            <div class="clear"></div>
        </div>
        <div id="footer">
        © 2011 PraLoup | <a href="/Home/About">About</a> | <a href="/Home/Index">Home</a> | <a href="/Home/Contact">Contact</a>
        </div>
    </div>
