 @model PraLoup.WebApp.Models.HomeModel
@using PraLoup.WebApp.Resources
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_TallHeaderLayout.cshtml";
}

	<div id="middle">
			<div class="columns2">
				<div class="ver_line">
					<div class="column1">
						<div class="padding">
							<strong>popr.ly</strong> is the effective word-of-mouth way to promote local bars & restaurants.
							<br />
							<br />
							<strong>Free, simple, & easy to use.</strong>  This is the smart way to tell your story to a new audience.

							<br />
							<br />
							Intelligent and targeted awareness without advertising. 
							<strong>Ever.</strong>
						</div>
					</div>
					<div class="column2">
						<div class="padding">
							<p class="auto-style1" style="language: en-US; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: justify; text-justify: inter-ideograph; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging">
							Learn More</p>
							<p class="auto-style1" style="language: en-US; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: justify; text-justify: inter-ideograph; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging">&nbsp;</p>
							<p class="auto-style1" style="language: en-US; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: justify; text-justify: inter-ideograph; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging">
							Sign Up For Beta</p>
							<p class="auto-style1" style="language: en-US; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: justify; text-justify: inter-ideograph; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging">&nbsp;</p>
							<p class="auto-style1" style="language: en-US; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: justify; text-justify: inter-ideograph; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging">
							@Html.ActionLink(LocStrings.LogIn, "Login", "Account") (Existing Users)</p>
							<br />
						</div>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="indent">
				<div class="columns1">
					<div class="column1">

						<img alt="" src="@Url.Content("~/Content/word.png")" /> </div>
					<div class="column2">
					
					<b>Get the Word Out</b>
					Promote your bar or restaurant using the power of Facebook.
					</div>

					<div class="column3">
						<img alt="" src="@Url.Content("~/Content/learn.png")" /></div>
					<div class="column4">
					
					<b>Get the Word Out</b>
					Promote your bar or restaurant using the power of Facebook.
					</div>

					<div class="column5">
						<img alt="" src="@Url.Content("~/Content/love.png")" /></div>
					<div class="column6">
					
					<b>Get the Word Out</b>
					Promote your bar or restaurant using the power of Facebook.
					</div>

					<div class="clear">
					</div>
				</div>
			</div>
