@inherits System.Web.Mvc.WebViewPage<PraLoup.WebApp.Models.AccountListJson>
@using System.Web;
@using System.Collections.Generic;

 @{
string name = ViewData.TemplateInfo.HtmlFieldPrefix;
string id = name.Replace( ".", "_" );
}
<div id="@id">

</div>
<script type="text/javascript">
    var @id=
        @Html.Raw(Model.ToString());
    
    RenderAccountList($("#@id"), @id);

</script>
    