.facebookLogo {
    background-color: #4B67A1;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/z-/r/nQo8LrNCPfQ.png");
    background-repeat: no-repeat;
    outline: medium none;
    height: 31px;
    width:103px;
}

.ttd_lst
{
    width: 600px;    
}

.ttd_lst_name
{
        
}
    
.ttd_ovw
{
    clear:both;
}
    
div.ttd_img
{
    float:left;
    margin: 15px;    
}

.ttd_img
{
    height: 80px;
    width: 80px;       
}

div.ttd_info
{
    height:80px;
    width:500px;
    overflow:hidden;    
}

