.facebookLogo {
    background-color: #4B67A1;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/z-/r/nQo8LrNCPfQ.png");
    background-repeat: no-repeat;
    outline: medium none;
    height: 31px;
    width:103px;
}