.facebookLogo {
    background-color: #4B67A1;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/z-/r/nQo8LrNCPfQ.png");
    background-repeat: no-repeat;
    outline: medium none;
    height: 31px;
    width:103px;
}

.ttd_lst
{
    width: 600px;    
}

.ttd_lst_name
{
        
}
    
.ttd_ovw
{
    clear:both;
}
    
div.ttd_img
{
    float:left;
    margin: 15px;    
}

.ttd_img
{
    height: 80px;
    width: 80px;       
}

div.ttd_info
{
    height:80px;
    width:500px;
    overflow:hidden;    
}



.image
{
	width: 70px;
	float: left;
}
.name
{
	width: 70px;
	float: right;
	font-size: 1em;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	color: #3b5998;
	font-weight: bold;
}
.userlabel
{
	width: 144px;
	padding: 2px;
}
.ui-datetimepicker-with-clock
{
	width:41em;
}

.ui-datetimepicker-calendar-side
{
	width:17em;
	float:left;
}

.ui-datetimepicker-clock 
{
	width: 392px;
	height: 392px;
	background: url(jquery.ui.datetimepicker.png) no-repeat;
	float:left;
}

.ui-datetimepicker-clock-minute-overlay 
{
	width: 392px;
	height: 392px;
	top:-535px;
	left:0px;
	position: relative;
	background: url(jquery.ui.datetimepicker.png) no-repeat;
	background-position: left -393px;
}

.ui-datetimepicker-clock-hour-overlay 
{
	width: 392px;
	height: 392px;
	top:-535px;
	left:5px;
	position: relative;
	background: url(jquery.ui.datetimepicker.png) no-repeat;
	background-position: left -786px;
}

.ui-datetimepicker-clock-minute-hand 
 {
	width: 269px;
	height: 269px;
	position: relative;
	top: 62px;
	left: 0px;
	margin: 0 auto;
	background: url(jquery.ui.datetimepicker.minutes.png) no-repeat;
	background-position: left -0px;
	}
	
.ui-datetimepicker-clock-hour-hand 
	{
	width: 269px;
	height: 269px;
	position: relative;
	top: -205px;
	left: 0px;
	margin: 0 auto;
	background: url(jquery.ui.datetimepicker.hours.png) no-repeat;
	background-position: left -0px;
	z-index:999;
	}
	


.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    padding: 12px;
    border: 1px;
	border-color:#ddd;
	border-style:solid;
	background-color:#FFFFFF;
}

.jqmOverlay { background-color: #000; }
