body {
	background: #FFFFFF;
	padding-top: 5px;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size:75%;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0;
}
img {
	vertical-align: top;
}
ul {
	list-style: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
input, select {
	vertical-align: middle;
	font-weight: normal;
}
strong {
	font-size: 12px;
	color: #000;
}
a {
	color: #3d6f92;
	font-size: 12px;
}
/*main layout */

#main {
	width: 800px;
}
#header_tall {
	min-height: 92px;
	max-height: 92px;
}
#header-short{	
	min-height:45px;
	max-height:45px;
}


#image {
	min-height: 150px;
	max-height: 150px;
}
#footer {
	height: 61px;
}
.column1, .column2, .column3, .column4, .column5, .column6, .indent_column, .col1, .col2, .col3, .ind_col {
	float: left;
}
/* index */
#index .columns1 .column1 {
	width: 52px;
}
#index .columns1 .column2 {
	width: 208px;
}
#index .columns1 .column3 {
	width: 52px;
}
#index .columns1 .column4 {
	width: 208px;
}
#index .columns1 .column5 {
	width: 52px;
}
#index .columns1 .column6 {
	width: 208px;
}
#index .columns1 .indent_column {
	width: 7px;
}
#index .columns2 .column1 {
	width: 400px;
}
#index .columns2 .column2 {
	width: 400px;
}
p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

.h_logo {
	min-height: 92px;
	width: 100%;
	background-color: rgb(220,230,242);
	padding-bottom: 10px;
}
/*main layout */
.hs_logo {
	min-height: 40px;
	width: 100%;
	background-color: rgb(220,230,242);
	padding-bottom: 1px;
}

#header_tall {
}
#main {
	margin: 0 auto;
}
#header_tall .left {
	padding-left: 280px;

}
#header_tall .right {
	padding: 46px 11px 0 0;
}
#header .right a {
	color: #868686;
	font-family: arial;
	font-size: 12px;

	padding: 0 29px 2px 0;
}
.content {
	background: url(/Praloup.Webapp/Content/span.png) top left no-repeat;
	position: relative;
	color: #ffffff;
	min-height: 150px;
	vertical-align: bottom;
}
.content .text {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 2px 0 0;
}
.content a img {
	float: right;
}
#middle {
	width: 100%;
}
#footer .indent {
	padding: 23px 0 0 17px;
	color: #000000;
	font-size: 12px;
}
#footer a {
	color: #000000;
	font-weight: bold;
}
.columns1 {
	background-color: rgb(220,230,242);
}
.border {
	background:  top repeat-x;
}
.border .ind {
	padding: 4px 4px 15px 2px;
}
.border a img {
	float: right;
}
li {
	color: #3d6f92;
}
li a {
	color: #3d6f92;
	font-size: 11px;
}
.b_text {
	color: #3d6f92;
}
/* index */
#index #middle .indent {
	padding: 17px 0 19px 0;
}
#index #middle .columns2 {
	padding: 21px 0 0 0;
}
#index #middle .columns2 .column1 .padding {
	padding: 14px 21px 0 17px;
}
#index #middle .columns2 .column2 .padding {
	padding: 14px 18px 0 21px;
}
#index #middle .columns2 .column1 .p1 {
	padding: 7px 0 15px 0;
}
#index #middle .columns2 .column2 .content {
	padding: 10px 0 15px 0;
}
#index #middle .columns2 .column2 .p1 {
	padding: 2px 0 1px 0;
}
.auto-style1 {
	font-family: Verdana;
	font-size: 12pt;
	color: #000000;
}
.auto-style2 {
	font-size: xx-large;
	font-weight: bold;
	color: #FFF;
}

input[class=text-box]
{
    width: 300px;
    border: 1px solid #CCC;
}

input[type=password] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[class=datePicker]
{
	width:150px;
}

input[class=numberField]
{
	width:50px;
}



input[type=button] {
  border: 1px solid #dcdcdc;
  background-color:#f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color:#767676;
  cursor:pointer;
  min-width:100px;
  min-height:30px;
  text-align:center;
}
input[type=button]:hover {
  border: 1px solid #898989;
  background-color:#f6f6f6;
  color:#212121;
 }


input[type=submit] {
  border: 1px solid rgb(71,116,170);
  background-color:rgb(79,129,189);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color:#f5f5f5;
  cursor:pointer;
  min-width:100px;
  min-height:30px;
  text-align:center;
}
input[type=submit]:hover {
  border: 1px solid rgb(26,43,63);
  background-color:rgb(71,116,170);
  color:#f6f6f6;
 }
 
 
input:focus { 
    outline:none;
    border-color:rgb(228,108,10);
    box-shadow:0 0 13px rgb(228,108,10);
}

textarea
{
     width: 300px;
    border: 1px solid #CCC;
}


textarea:focus { 
    outline:none;
    border-color:rgb(228,108,10);
    box-shadow:0 0 13px rgb(228,108,10);
}

 .field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}


.image
{
	width: 70px;
	float: left;
}
.name
{
	width: 70px;
	float: right;
	font-size: 1em;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	color: #3b5998;
	font-weight: bold;
}
.userlabel
{
	width: 144px;
	padding: 2px;
}
.ui-datetimepicker-with-clock
{
	width:41em;
}

.ui-datetimepicker-calendar-side
{
	width:17em;
	float:left;
}

.ui-datetimepicker-clock 
{
	width: 392px;
	height: 392px;
	background: url(jquery.ui.datetimepicker.png) no-repeat;
	float:left;
}

.ui-datetimepicker-clock-minute-overlay 
{
	width: 392px;
	height: 392px;
	top:-535px;
	left:0px;
	position: relative;
	background: url(jquery.ui.datetimepicker.png) no-repeat;
	background-position: left -393px;
}

.ui-datetimepicker-clock-hour-overlay 
{
	width: 392px;
	height: 392px;
	top:-535px;
	left:5px;
	position: relative;
	background: url(jquery.ui.datetimepicker.png) no-repeat;
	background-position: left -786px;
}

.ui-datetimepicker-clock-minute-hand 
 {
	width: 269px;
	height: 269px;
	position: relative;
	top: 62px;
	left: 0px;
	margin: 0 auto;
	background: url(jquery.ui.datetimepicker.minutes.png) no-repeat;
	background-position: left -0px;
	}
	
.ui-datetimepicker-clock-hour-hand 
	{
	width: 269px;
	height: 269px;
	position: relative;
	top: -205px;
	left: 0px;
	margin: 0 auto;
	background: url(jquery.ui.datetimepicker.hours.png) no-repeat;
	background-position: left -0px;
	z-index:999;
	}
	


.jqmWindow {
    display: none;
    
    position: fixed;
    top: 5%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    padding: 12px;
    border: 1px;
	border-color:#ddd;
	border-style:solid;
	background-color:#FFFFFF;
}

.jqmOverlay { background-color: #000; }
